@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    background-color: #1d1d1d;
    color: black;
    border-color: white;
}
body {
    display: flex;
    flex-direction: column;
}
.main {
    display: flex;

    flex-direction: row;
    border: none;
    border-width: thin;
    height: 90vh;
    border-radius: 10px;
    padding: 10px;
    gap: 5px;
}
.main1{
    display: flex;
    flex-direction: column;
    border: none;
    border-width: thin;
    height: 30vh;
    border-radius: 10px;
    padding: 10px;
    gap: 5px;
}

.s-block {
    display: flex;
    flex-direction: row;
    border: solid;
    width: 11.11%;
    border-width: thin;
    border-radius: 10px;
    padding: 6px;
    gap: 10px;
    justify-content: space-around;
}

.d-block {
    display: flex;
    flex-direction: row;
    border: solid;
    width: 55.56%;
    border-width: thin;
    border-radius: 10px;
    padding: 6px;
    gap: 10px;
    justify-content: space-around;
}

.p-block {
    display: flex;
    flex-direction: row;
    border: solid;
    
    width: 33.33%;
    border-width: thin;
    border-radius: 10px;
    padding: 6px;
    gap: 10px;
    justify-content: space-around;
}

.group1,
.group2,
.group3,
.group4,
.group5,
.group6,
.group7,
.group8,
.group9,
.group10,
.group11,
.group12,
.group13,
.group14,
.group15,
.group16,
.group17,
.group18 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* align-items: flex-end; */
    justify-content: flex-end;
}
.group19,
.group20{
    display: flex;
    flex-direction: row;
    gap: 8px;
    /* align-items: flex-end; */
    justify-content: center;
}

.box {
    width: 70px; /* Width of the box */
    height: 80px; /* Height of the box */
    border: solid thin aliceblue; /* Thin border with color */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor changes to pointer on hover */
    display: flex; /* Flexbox for layout */
    justify-content: center; /* Center content horizontally */
    flex-direction: column; /* Stack children vertically */
    font-family: "Poppins"; /* Font family */
    transition: all 0.2s ease-in-out; /* Transition for hover effects */
    transition: background-color 0.5s ease; 

}




.group1 .box:hover,
.group2 .box:hover{
    border-color: crimson;
}
.group3 .box:hover,
.group4 .box:hover,
.group5 .box:hover,
.group6 .box:hover,
.group7 .box:hover,
.group8 .box:hover,
.group9 .box:hover,
.group10 .box:hover,
.group11 .box:hover,
.group12 .box:hover
{
    border-color: royalblue;
}
.group13 .box:hover,
.group14 .box:hover,
.group15 .box:hover,
.group16 .box:hover,
.group17 .box:hover,
.group18 .box:hover{
    border-color: rgb(255, 255, 120);
}





h1{
    position: absolute;
    color: #fbfbfb;
    display: flex;
    font-size: 30px;
    background-color: transparent;
    margin-top: -10px;
    margin-left: 4px;
}
h3{
    color: #EDE7E3;
    display: flex;
    font-size: 11px;
    font-weight: 300;
    background-color: transparent;
    margin-top: 60px;
    margin-left: 4px;

}
#long-text{
    color: #EDE7E3;
    display: flex;
    font-size: 9px;
    font-weight: 300;
    background-color: transparent;
    margin-top: 60px;
    margin-left: 4px;
    padding-bottom: 4px;
}
h5{
    color: #ffffff;
    display: flex;
    font-size: small;
    background-color: transparent;

    margin-top: -15px;
    margin-left: 4px;
    font-weight: 500;

}

h6{
    position: absolute;
    color: white;
    display: flex;
    font-size: 15px;
    background-color: transparent;
    margin-top: -15px;
    margin-left: 48px;
    font-weight: 400;
    font-family: "Afacad Flux";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      text-align: right;
}
#long-number{
    position: absolute;
    color: white;
    display: flex;
    font-size: 13px;
    background-color: transparent;
    margin-top: -25px;
    margin-left: 45px;
    font-weight: 400;
    font-family: "Afacad Flux";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      text-align: right;
}




.main-element-display{
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px;
    background: transparent;
    left:200px;
    margin-top: 10px;
    margin-left: 10px;
    
    border: solid;
    border-width: 13px;
    border-radius: 10px;
    border-color: transparent;
    box-shadow: rgb(255, 255, 255) 3.2px 3.2px 8px 0px inset, rgba(253, 216, 216, 0.356) -6.2px -3.2px 17px 0px inset;    padding: 20px;
    font-family: "poppins";
}

#element-no,
#element-initials,
#element-name,
#element-weight
 {
    background-color: transparent;
    color: white;

   }

   #element-no{
    font-size: 45px;
    margin-top: -10px;
    margin-left: 0px;margin-left: 8px;
}
#element-initials{
    font-size: 60px;
    font-weight: 600;
    margin-top: -60px;
    
}
#element-name{
    font-size: 30px;
    font-weight: 600;
    margin-top: -75px;
    margin-left: 8px;
}
#element-weight{
    font-size: 30px;
    font-weight: 600;
    margin-top: -40px;
    margin-left: 8px;
}



.elements-types{
    display: flex;
    width: 450px;
    height: 240px;
    position: absolute;
    border: solid;
    border-width: thin;
    border-color: #EDE7E3;
    background-color: transparent;
    margin-left: 250px;
    margin-top: 25px;
    border-radius: 10px;
    flex-direction: row;
    padding: 0px 10px 0px 10px;
    gap: 10px;
    font-family: "poppins";
    color: #EDE7E3;
cursor: pointer;

}

.metals-group,
.nonmetals-group,
.metalloids{
    display: flex;
/*    
    border: solid;
    border-width: thin;
   */
}
.metals-group{
    width:250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.metalloids{
    width: 50px;
    padding: 10px;
}
.nonmetals-group{
    width:90px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.metals{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid;
    border-width: thin;
    border-color: #EDE7E3;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    z-index: 1;
}
.metals h6{
    margin-top: 30px;
    margin-left: 0px;
}

.metals-types{
    display: flex;
    flex-direction: row;
    gap: 5px;}

.alkali-metals,
.alkaline-earth-metals,
.Lanthanoids-Actinoids,
.transition-metals,
.post-transition-metals{
    display: flex;
}

.alkali-metals{
    width: 20px;
    height:160px;
    background-color: #9a630a;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: thin;
    border-color: #EDE7E3;
    transition: background-color 0.5s ease; 
}
.alkali-metals h6{
    width: 100px;
    margin-left: 0px;
    transform: rotate(90deg);
}

.alkaline-earth-metals{
    width: 40px;
    height:160px;
    background-color: #b9b901;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: thin;
    border-color: #EDE7E3;
    transition: background-color 0.5s ease; 
}
.alkaline-earth-metals h6{
    width: 100px;
    margin-left: 0px;
    transform: rotate(90deg);
    text-align: left;
}

.Lanthanoids-Actinoids{
    width: 100px;
    height:160px;
    background-color: transparent;  
    flex-direction: column;
    gap:10px;
    justify-content: space-between;
    
}
.lanthanoids{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #543913;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: thin;
    border-color: #EDE7E3;
}
.lanthanoids h6{
    margin-left: 0px;
}

.actinoids{
    display: flex;
    height: 80px;
    background-color: #7c1e5b;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: thin;
    border-color: #EDE7E3;
    transition: background-color 0.5s ease; 
}
.actinoids h6{
    margin-left: 0px;
}

.transition-metals{
    width: 20px;
    height:160px;
    background-color: #891809;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: thin;
    border-color: #EDE7E3;
    transition: background-color 0.5s ease; 
}
.transition-metals h6{
    margin-left: 0px;
    transform: rotate(90deg);
    text-align: left;
}

.post-transition-metals{
    width: 40px;
    height:160px;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: thin;
    border-color: #EDE7E3;
    transition: background-color 0.5s ease; 
}
.post-transition-metals h6{
    transform: rotate(90deg);
    text-align: left;
    margin-left: 0px;
    width: 100px;
}



.metalloids{
  height: 190px;
  margin-top: 10px;
  background-color: rgb(26, 161, 118);
  border: solid;
  border-width: thin;
  border-color: #EDE7E3;
  /* border-radius: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease; 

}
.metalloids h6{
    margin-left: 0px;
    transform: rotate(90deg);
    text-align: left;
    width: 10px;
}

.nonmetals-group{
    height: 100%;
    background-color: transparent;
    padding: 10px;
    gap: 10px;
}
.nonmetals{
    width: 100%;
    height: 40px;
    border: solid;
    border-width: thin;
    border-color: #EDE7E3;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
}
.nonmetals h6{
    margin-top: 35px;
    margin-left: 0px;
}

.nonmetals-types{
    display: flex;
    flex-direction: row;
    gap:8px;

}
.reactive-nonmetals{
    width: 80px;
    background-color: #17773e;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: thin;
    border-color: #EDE7E3;
    transition: background-color 0.5s ease; 
}
.reactive-nonmetals h6{
    transform: rotate(90deg);
    text-align: left;
    margin-left: 0px;
    width: 100px;
}
.nobel-gases{
    width:  40px;
    height: 160px;
    background-color: #55187b;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: thin;
    border-color: #EDE7E3;
    transition: background-color 0.5s ease; 
}
.nobel-gases h6{
    transform: rotate(90deg);
    text-align: left;
    margin-left: 0px;
    width: 100px;
}



.transparent {
    background-color: transparent !important;
  }


